*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:Poppins,sans-serif;
background:#050505;
color:white;

}

nav{

position:fixed;
top:0;
left:0;
width:100%;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.85);
backdrop-filter:blur(8px);
z-index:1000;

}

.logo img{

height:55px;

}

nav ul{

display:flex;
gap:40px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;
font-weight:500;
transition:.3s;

}

nav a:hover{

color:#d4af37;

}

.hero{

height:100vh;

background:url("../images/hero-bg.jpg") center/cover;

display:flex;
justify-content:center;
align-items:center;
position:relative;

}

.overlay{

position:absolute;
inset:0;
background:rgba(0,0,0,.72);

}

.hero-content{

position:relative;
z-index:2;
text-align:center;

}

.hero-logo{

width:220px;
margin-bottom:25px;

}

.hero h1{

font-size:70px;
color:#d4af37;

}

.hero p{

margin:20px 0;
font-size:22px;

}

.btn{

display:inline-block;
padding:15px 40px;
background:#d4af37;
color:black;
font-weight:bold;
border-radius:40px;
text-decoration:none;
transition:.4s;

}

.btn:hover{

transform:translateY(-5px);

}

.about{

padding:120px 10%;
text-align:center;

}

.about h2{

color:#d4af37;
font-size:42px;

}

.about p{

margin:auto;
margin-top:30px;
max-width:850px;
line-height:35px;

}

.services{

padding:80px 10%;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;

}

.service{

background:#111;
padding:40px;
border-radius:20px;
text-align:center;
transition:.4s;

}

.service:hover{

transform:translateY(-10px);

}

.service h3{

color:#d4af37;

}

.portfolio{

padding:120px 8%;

}

.portfolio h2{

text-align:center;
font-size:42px;
margin-bottom:60px;
color:#d4af37;

}

.gallery{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:25px;

}

.gallery img{

width:100%;
border-radius:20px;
transition:.4s;

}
.portfolio-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:40px;
margin-top:60px;
}

.portfolio-item{
background:#111;
border-radius:20px;
overflow:hidden;
transition:.4s;
box-shadow:0 0 20px rgba(0,0,0,.5);
}

.portfolio-item:hover{
transform:translateY(-10px);
box-shadow:0 15px 40px rgba(212,175,55,.35);
}

.portfolio-item img{
width:100%;
display:block;
}

.portfolio-info{
padding:20px;
}

.portfolio-info h3{
color:#d4af37;
font-size:24px;
margin-bottom:10px;
}

.portfolio-info p{
color:#bbb;
}

.gallery img:hover{

transform:scale(1.05);

}

.contact{

padding:120px 10%;
text-align:center;

}

.contact h2{

font-size:42px;
color:#d4af37;

}

.contact p{

margin:25px;

}

footer{

padding:50px;
text-align:center;
background:#080808;

}

footer img{

height:70px;
margin-bottom:20px;

}
